<header>
    <div class="logo">
      <h1>Reservación de Canchas</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#">¿Quiénes Somos?</a>
          <ul>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Visión</a></li>
            <li><a href="#">Historia</a></li>
          </ul>
        </li>
        <li><a href="#">Nuestros Establecimientos</a>
          <ul>
            <li><a href="#">Ubícanos</a></li>
          </ul>
        </li>
        <li><a href="#">Reservar</a>
          <ul>
            <li><a href="#">Reservar Cancha</a></li>
            <li><a href="#">Disponibilidad</a></li>
            <li><a href="#">Cancelar Reserva</a></li>
          </ul>
        </li>
        <li><a href="#">Contáctenos</a></li>
      </ul>
    </nav>

    <div class="user-box">
        <img src="ruta/a/la/imagen/de/perfil.jpg" alt="Imagen de perfil">
        <span>Pepe</span>
      </div>

  </header>
  